[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"discord.py" = "*"
chat-exporter = "==1.7.3"
psycopg2-binary = "*"
randomwords = "*"

[dev-packages]

[requires]
python_version = "3.10"
